
<ul class="toc-footer">

<li><a href='https://bons.ai'>Bonsai Home</a></li>
<li><a href='https://beta.bons.ai'>BRAIN Dashboard</a></li>
<li><a href='https://github.com/BonsaiAI/slate'>Contribute to the Docs</a></li>
<li><a href='https://bons.ai/get-started'>Apply for Bonsai Platform Preview</a></li>
<li><a href="/releases.html">Product Release Notes</a></li>
<li><a href='https://bons.ai/contact-us#contact-page-form'>Contact Us</a></li>

</ul>